[build]
  command = "npm install && npm run build"

[deploy]
  startCommand = "npm run start"
  healthcheckPath = "/"
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 10

[deploy.envs]
  NODE_ENV = "production"
